// index.html start
  .download__wrapper {
    //background-color: #1d2631;
    color: white;
  }
  .download__headline {
    margin: 0;
    border: 2px solid #ffffff;
    border-radius: 27px;
    width: 280px;
    height: 50px;
  }
  .download__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    min-height: 60px;
    margin-top: 32px;
    margin-bottom: 28px;
    .download__item {
      width: 70px;
    }
    .download__link {
      width: 70px;
      height: 60px;
      &--ios {
        background: url("../img/logo-apple.svg") no-repeat;
      }
      &--Android {
        background: url("../img/logo-android.svg");
      }
      &--Windows {
        background: url("../img/logo-microsoft.svg");
      }
    }
  }
  .download__img {
    margin-top: -69px;
  }
  .download__text {
    margin: 0;
  }

.information__wrapper {
  .information__list {
    min-height: 800px;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
  }
}

.price__wrapper {
  min-height: 500px;
  background-color: #f2f2f2;
}



// index.html finish
// form.html start
.redcap {
  color: #d22856;
  text-transform: uppercase;
}

.form__progress,
.form__app {
  background: #f2f2f2;
}



// form.html finish
// photo.html start
.photo__item {
  background: #f2f2f2;
}

.upload__block {
  background: #f2f2f2;
  .upload__button {
    background: none;
    margin: 0;
    border: 2px solid #dddfe0;
    border-radius: 27px;
    width: 280px;
    height: 50px;
    color: #dddfe0;
    &--post {
      color: #d22856;
      border: 2px solid #d22856;
    }
  }
}
