.page-header {
  //background-color: #283645;
  .page-header__nav-header {
    min-height: 69px;
  }
  .main-nav__toggle {
    background: none;
    border: none;
    cursor: pointer;
  }

  .main-nav__list {
    padding: 0;
    margin: 0;
    .site-list__item {
      width: auto;
      height: 63px;
      font-size: 14px;
    }
  }
}

@media (min-width: @tablet-width) {

}


@media (min-width: @desktop-width) {

}
