@import "../../variables";

.download__img {
  background: url("../img/bg-back-mobile.jpg") no-repeat 100%;
  min-height: 465px;
  background-size: cover;
  background-position: center;
  margin-top: -69px;
}

.download__wrapper {
  //background-color: #1d2631;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  min-height: 271px;
  &::before {
    background: url("../img/iphone-hand-mobile@1x.png") no-repeat 100%;
  }
}

.download__headline {
  display: none;
}


.download__button {
  display: flex;
  align-content: center;
  margin: 0;
  border: 3px solid #ffffff;
  border-radius: 27px;
  width: 280px;
  height: 50px;
  margin-top: 28px;
  font-family: "Open Sans light", sans-serif;
}
.download__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  min-height: 60px;
  margin-top: 30px;
  margin-bottom: 25px;
  .download__item {
    width: 70px;
  }
  .download__link--ios {
    width: 70px;
    height: 60px;
  }
}
.download__text {
  width: 280px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .download__img {
    background: url("../img/bg-back-tablet.jpg") no-repeat 100%;
    min-height: 785px;
    background-size: cover;
    background-position: center;
    margin-top: -110px;
  }

  .download__wrapper {

    color: white;
    min-height: 565px;
    margin-top: -810px;
    &::before {
      background: url("../img/iphone-hand-tablet@1x.png") no-repeat 100%;
    }
    .download__headline {
      font-family: "Open Sans light", sans-serif;
      margin-top: 245px;
    }
  }
}

@media (min-width: @desktop-width) {
  .download__img {
    background: url("../img/bg-back-desktop.jpg") no-repeat 100%;
    min-height: 855px;
    background-size: cover;
    background-position: center;
    margin-top: -120px;
  }
  .download__wrapper {
    //background-color: #1d2631;
    color: white;
    min-height: 271px;
    margin-top: -120px;
    &::before {
      background: url("../img/iphone-hand-desktop@1x.png") no-repeat 100%;
    }
  }
}
