@import "../../variables";

.page-footer {
  font-family: "OpenSans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  .triangle {
    position: absolute;
    top: 420px;
    width: 100%;
    height: 20vw;
  }
}

.page-footer__contacts{
  width: 280px;
}

.contacts__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 300;
  color: #283645;
}

.contacts__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  padding: 0;
}

.contacts__title-list {
  margin-top: 28px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: bold;
  color: #283645;
}

.contacts__title-red {
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  .contacts__phone {
    text-decoration: none;
  }
}

.map__wrapper {
  margin-top: -385px;
  overflow: hidden;
}

@media (min-width: @tablet-width) {
  .page-footer__contacts {
    width: 660px;
    position: relative;
    .contacts__title {
      font-size: 40px;
      font-weight: 300;
      text-align: center;
      color: #283645;
      margin-top: 48px;
      margin-bottom: 2px;
    }
    .contacts__title-list {
      margin-top: 47px;
    }
  }
  .contacts__tablet-item {
    display: flex;
    flex-direction: row;
    .contacts__left-page {
      width: 330px;
    }
    .contacts__right-page {
      width: 330px;
    }
  }
  .page-footer__contacts::after {
    position: absolute;
    width: 768px;
    height: 100px;
    content: "";
    background: url("../img/bg-triangle-white-footer.svg") no-repeat 100%;
    background-size: 100%;
    bottom: -107px;
    left: -54px;
  }

  .contacts__list {
    width: 660px;
  }

  .map__wrapper {
    margin-top: 22px;
    width: 660px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    .contacts__title {
      font-size: 50px;
      margin-top: 70px;
    }
  }
  .contacts__list {
    width: 970px;
    justify-content: space-around;
  }
  .contacts__item {
    .contacts__title-list {
      margin-top: 40px;
      font-size: 18px;
      font-weight: bold;
    }
    .contacts__title-red {
      margin-top: 27px;
      font-size: 24px;
      font-weight: 300;
      .contacts__phone {
        font-size: 24px;
        font-weight: 300;
        color: #d22856;
      }
    }
  }
  .contacts__item:nth-child(1) {
    order: 1;
  }
  .contacts__item:nth-child(2) {
    order: 3;
  }
  .contacts__item:nth-child(3) {
    order: 2;
  }
  .page-footer__contacts::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 122px;
  }

  .map__wrapper {
    width: 1200px;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }
  .map__map {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}
