@import "../../variables";

.price__wrapper {
  min-height: 500px;
  //background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  width: 320px;
  .diagonal {
     position: absolute;
     top: 25px;
     width: 100%;
     height: 10vw;
   }
  .price__list {
    display: flex;
    flex-direction: row;
    margin-top: 112px;
    margin-left: -40px;
  }
}

.price__item {
  width: 280px;
  .price__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 94px;
  }
  .price__name {
    margin-top: 22px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .price__value {
    margin-top: 7px;
    font-size: 24px;
    margin-bottom: 21px;
  }
  .price-tag__list {
    padding: 0;
    .price-tag__item {
      width: 280px;
      min-height: 60px;
    }
  }
}

.advantages__toggles {
  width: 280px;
  text-align: center;
  .slider__toggle {
    background: none;
    padding: 0;
    width: 6px;
    height: 6px;
    border: solid 3px #283645;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

@media (min-width: @tablet-width) {
  .price__wrapper {
    width: 660px;
    min-height: 380px;
    .price__list {
      margin-top: 92px;
    }
    .advantages__toggles {
      display: none;
    }
  }
  .price__item {
    width: 152px;
    .price__header {
      width: 152px;
      min-height: 75px;
      border: solid 2px #283645;
      background-color: #283645;
      .price__name {
        margin-top: 11px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
        text-align: center;
        color: #ffffff;
      }
      .price__value {
        margin-top: 3px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
      }
    }
    .price-tag__list {
      .price-tag__item {
        width: 152px;
        min-height: 47px;
      }
    }
  }
}
