@import "../../variables";

.price__wrapper {
  min-height: 437px;
  background-color: #f2f2f2;
  position: relative;
  //overflow: hidden;
  width: 320px;
  margin-top: 55px;
  .diagonal {
     position: absolute;
     top: 25px;
     width: 100%;
     height: 10vw;
   }
  .price__list {
    display: flex;
    flex-direction: row;
    margin-top: 55px;
    margin-left: -580px;
  }
}

.price__item {
  width: 280px;
  .price__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 92px;
    border: solid 2px #283645;
  }
  .price__name {
    margin-top: 22px;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  .price__value {
    margin-top: 7px;
    font-size: 24px;
    margin-bottom: 21px;
  }
  .price-tag__list {
    padding: 0;
  }
  .price-tag__item {
    width: 280px;
    min-height: 60px;
    border-top: solid 1px #e5e5e5;
    border-right: solid 2px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    border-left: solid 2px #e5e5e5;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.advantages__toggles {
  width: 280px;
  text-align: center;
  .slider__toggle {
    background: none;
    padding: 0;
    width: 6px;
    height: 6px;
    border: solid 3px #283645;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.price__mobile-headline {
  margin-left: 22px;
}
.price__cheked {
  fill: #2aab6d;
  width: 31px;
  height: 21px;
}
.price__nocheked {
  fill: #d22856;
  width: 27px;
  height: 27px;
}
.price__desktop-cheked {
  display: block;
  width: 31px;
  height: 21px;
  background-size: 100%;
  margin-right: 17px;
}
.price__desktop-nocheked {
  display: block;
  width: 27px;
  height: 27px;
  margin-right: 19px;
}

@media (min-width: @tablet-width) {
  .price__wrapper {
    width: 660px;
    min-height: 325px;
    margin-top: 55px;
    .price__list {
      margin-top: 38px;
      margin-left: 20px;
      padding: 0;
    }
    .advantages__toggles {
      display: none;
    }
  }

  .price__item {
    width: 152px;
    .price__header {
      width: 152px;
      min-height: 75px;
      border: solid 2px #283645;
      background-color: #283645;
      .price__name {
        margin-top: 11px;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.88;
        text-align: center;
        color: #ffffff;
      }
      .price__value {
        margin-top: 3px;
        margin-bottom: 0;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        color: #ffffff;
      }
    }
    .price-tag__item {
      width: 152px;
      min-height: 47px;
    }
    .price__mobile-headline {
      display: none;
    }
  }
  .price__item--none {
    .price__header {
      background: none;
      border: none;
    }
  }



  .price__desktop-cheked {
    display: block;
    width: 31px;
    height: 21px;
    background-size: 100%;
    margin-right: 17px;
    margin-left: 70px;
  }
  .price__desktop-nocheked {
    display: block;
    width: 27px;
    height: 27px;
    margin-right: 19px;
    margin-left: 70px;
  }
}

@media (min-width: @desktop-width) {
  .price__wrapper {
    width: 1200px;
    .price__list {
      padding: 0;
      margin-top: 58px;
      margin-bottom: 98px;
      margin-left: 134px;
    }
  }
  .price__item {
    width: 233px;
    .price__header {
      width: 233px;
      height: 94px;
    }
    .price-tag__item {
      width: 233px;
      height: 59px;
    }
  }
  .price__item--none {
    .price__header {
      background: none;
      border: none;
    }
  }
  .price__mobile-headline {
    display: none;
  }

}
