.form__name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 280px;
  .form__name-label {
    font-size: 14px;
    line-height: 2.14;
    padding-left: 20px;
    margin-top: 17px;
    margin-bottom: 5px;
  }
  .form__name-label:first-of-type {
    margin-top: 25px;
  }
  .name-label__input {
    width: 276px;
    height: 59px;
    border: solid 2px #e5e5e5;
  }
  .name-label__input:last-of-type {
    margin-bottom: 40px;
  }
  .name-label__input::placeholder {
    font-size: 18px;
    line-height: 1.67;
    color: #283645;
    padding-left: 20px;
  }
}
