@import "../../variables";

.form__phone {
  width: 280px;
}

.form__phone-label {
  font-size: 14px;
  line-height: 2.14;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.form__phone-label:first-of-type {
  margin-top: 31px;

}

.phone-label__input {
  width: 276px;
  height: 54px;
  border: solid 2px #e5e5e5;
}

.phone-label__input {
  margin-bottom: 42px;
}

.phone-label__input::placeholder {
  font-size: 18px;
  line-height: 1.67;
  color: #283645;
  padding-left: 20px;
}

@media (min-width: @tablet-width) {
  .form__phone {
    order: 4;
    padding: 0;
    width: 616px;
    border: solid 2px #e5e5e5;
    margin-top: 57px;
    height: 314px;
  }
  .form__phone-legend {
    text-align: center;
    width: 260px;
    font-size: 14px;
  }
}

@media (min-width: @desktop-width) {
  .form__phone {
    width: 936px;
    border: solid 2px #e5e5e5;
    margin-top: 25px;
    height: 165px;
    box-sizing: border-box;
    padding: 0 60px;
  }
  .form__phone-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }

  .form__phone-label {
    width: 371px;
    height: 150px;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .phone-label__span {
    padding-left: 18px;
    order: 3;
  }
  .phone-label__svg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #e5e5e5;
    flex: 0 0 60px;
    .label__svg-fill {
      fill: #d22856;
    }
  }
  .form__phone-label:first-of-type {
    margin-top: 0;
  }
  .phone-label__input {
    margin-bottom: 0;
    flex: 0 1 auto;
  }
}
