.headline__wrapper {
  background: url("../img/bg-back-mobile.jpg") no-repeat 100%;
  min-height: 465px;
  background-size: cover;
  background-position: center;
  margin-top: -69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline__item {
  max-width: 280px;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  //color: #ffffff;
  margin-top: 105px;
}
