.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  margin-top: 40px;
}

.social__list {
  padding: 0;
  margin: 37px 0;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  .social__item {
    width: 46px;
    height: 46px;

  }
}

.social__item:not(:last-of-type) {
  margin-right: 17px;
}

.developed__wrapper {
  display: flex;
  flex-direction: row;
  .developed__headline {
    font-size: 14px;
    color: #283645;
    margin-right: 15px;
  }
}
