.photo__list {
  padding: 0;

}

.photo__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.photo__item:not(:first-child) {
  margin-top: 20px;
}

.photo__item-white {
  width: 280px;
  min-height: 121px;
  background-color: #f2f2f2;
}
