@import "../../variables";

.upload__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__headline {
  width: 280px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  color: #283645;
  margin-top: 25px;
  margin-bottom: 45px;
}

.upload__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: relative;
  background-color: #f2f2f2;
  width: 320px;
  height: 757px;
}
.upload__block::before {
  position: absolute;
  content: "";
  width: 280px;
  height: 374px;
  background: url("../img/photo-road-mobile@1x.jpg") no-repeat;
  top: 20px;
  left: 20px;
}

.upload__tools-list {
  margin-top: 440px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 208px;
}
.upload__tools-item {
  .tools__item-crop {
    fill: #d22856;
  }
  .tools__item-fill,
  .tools__item-contrast {
    fill: rgba(0, 0, 0, 0.3);
  }
}
.upload__tools-range-controls {
  display: none;
}

.upload__range-controls {
  position: relative;
  height: 58px;
  width: 240px;
  border-radius: 5px;
  overflow: hidden;
  .upload__scale {
    margin-top: 23px;
    height: 2px;
    background: #d7dcde;
  }
  .upload__toggle {
    position: absolute;
    top: 17px;
    left: 190px;
    width: 10px;
    height: 10px;
    border: 2px solid #d22856;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
  }
}
.upload__button {
  outline: none;
  background: none;
  margin: 0;
  border-radius: 27px;
  width: 280px;
  height: 50px;
}
.upload__button--post {
  color: #d22856;
  border: 2px solid #d22856;
  margin-bottom: 15px;
  margin-top: 40px;
  &:hover {
    color: #ffffff;
    background-color: #d22856;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
.upload__button--cancel {
  color: rgba(40, 54, 69, 0.1);
  margin-bottom: 47px;
  border: 2px solid rgba(40, 54, 69, 0.1);
  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border: 2px solid rgba(40, 54, 69, 0.3);
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    opacity: 0.3;
    border: solid 3px #283645;
    background-color: #283645;
  }
}


@media (min-width: @tablet-width) {
  .upload__wrapper {
    width: 700px;
    .upload__headline {
      margin-top: 47px;
      margin-bottom: 69px;
      width: 700px;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.67;
    }
    .upload__block {
      width: 660px;
      min-height: 511px;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      position: relative;
      margin-top: 0;
    }
    .upload__range-controls {
      display: none;
    }
  }
  .upload__tools-list {
    display: flex;
    flex-direction: column;
    width: 275px;
    margin-right: 20px;
    .upload__tools-range-controls {
      position: relative;
      height: 58px;
      width: 240px;
      border-radius: 5px;
      overflow: hidden;
      .upload__tools-scale {
        margin-top: 23px;
        height: 2px;
        background: #d7dcde;
      }
      .upload__tools-toggle {
        position: absolute;
        top: 17px;
        left: 190px;
        width: 10px;
        height: 10px;
        border: 2px solid #d22856;
        background: #ababab;
        cursor: pointer;
        border-radius: 50%;
      }
    }
  }
  .upload__block::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 400px;
    background: url("../img/photo-road-tablet@1x.jpg");
    top: 55px;
    left: 20px;
  }

}

@media (min-width: @desktop-width) {
  .upload__wrapper {
    width: 1200px;
    .upload__headline {
      width: 100%;
      margin-top: 10px;
    }
    .upload__block {
      width: 940px;
    }
  }
}
