.upload__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__headline {
  width: 280px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  line-height: 2.14;
  color: #283645;
}
