.user-photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .user-photos__img {
    background: url("../../../img/bg-back-mobile.jpg") no-repeat 100%;
    min-height: 465px;
    background-size: cover;
    background-position: center;
    margin-top: -69px;
  }
  .user-photos__headline {
    width: 280px;
    font-size: 24px;
    font-weight: 300;
    color: #ffffff;
    margin-top: -365px;
  }
  .user-photos__p {
    width: 280px;
    font-size: 14px;
    line-height: 2.14;
    color: #283645;
    margin-top: 115px;
  }

}
